html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 34px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 14px;
    font-weight: bold;
}

h6 {
    font-size: 12px;
    font-weight: bold;
}

#header .heder-top {
    padding: 37px 0;
    background-color: azure;

}

.heder-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heder-top .header-nav-top ul li {
    display: inline-block;
}

.heder-top .header-nav-top ul li a {
    text-decoration: 0;
    padding: 15px;
    color: black;
    font-size: 19px;
}

.heder-top .header-nav-top ul li a:hover {
    text-decoration: underline;
}

.header-botom {
    background-color: black;
    height: 50px;
}

.header-botom .header-nav-botom ul li {
    display: inline-block;
}

.header-botom ul>li>a {
    height: 50px;
    display: flex;
    align-items: center;
}

.header-botom .header-nav-botom ul li a {
    text-decoration: 0;
    padding: 0 30px;
    color: white;
    font-size: 20px;
}

.header-botom .header-nav-botom ul li a:hover {
    text-decoration: underline;
}

.block {
    background-color: #ebebeb;
    padding: 36px 25px;
}

.block a {
    text-decoration: 0;
}

.block>a {
    font-size: 20px;
    color: black;
    float: right;
    text-decoration: 0;
}

.block a:hover {
    text-decoration: underline;
    color: black;
}

.block .block__conteiner {
    padding-top: 40px;
}

.articles__horizontal .article {
    width: 50%;
    display: inline-block;
    margin-bottom: 22px;
    font-size: 16px;
    padding: 12px;
    vertical-align: top;
}

.articles .article .articli_image {
    width: 125px;
    height: 125px;
    overflow: hidden;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.articles .article .article__nfo {
    margin-left: 125px;
    padding-left: 21px;
}

.articles .article .article__nfo .a {
    color: #000;
    font-size: 18px;
    font-weight: normal;
}


.articles .article .article__info>.article__info__meta {
    font-size: 14px;
    font-weight: ;
}

.articles .article .article__info>.article__info__meta a {
    color: #000;
}

.articles .article .article__info>.article__info__preview {
    font-size: 16px;
    font-weight: 300;
}